<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>慢慢买</title>
    <link rel="stylesheet" href="./css/common.css" />
    <link rel="stylesheet" href="./css/moenyCtrl.css" />
  </head>
  <body>
    <div class="shop_container">
      <!-- 头部 -->
      <div class="shop_header">
        <div class="gohis"><a href="index.html"></a></div>
        <h1>省钱控--最新优惠</h1>
        <div class="down"></div>
      </div>
      <!-- product -->
      <div class="product"><ul></ul></div>

      <!-- select -->
      <div class="page"></div>
      <!-- footer -->
      <div class="footer">
        <div class="f_href">
          <a href="#">登录</a> <a href="#">注册</a>
          <a href="#" class="gotop">返回顶部</a>
        </div>
        <div class="content">
          <p>
            <span class="red">手机APP下载</span> 慢慢买手机版 -- 掌上比价平台
          </p>
          <p>m.manmanbuy.com</p>
        </div>
      </div>
    </div>
    <script type="text/html" id="tpl1">
      {{each result v i}}
      <li>
          <a href="moneyproduct.html?productId={{v.productId}}">
            <%== v.productImgSm%>
            <div class="info">
              <div class="tit">
                <p>
                 {{v.productName}}
                  <span class="moeny">{{v.productPinkage}}</span>
                </p>
                <div class="bot">{{v.productFrom}}|{{v.productTime}}</div>
                <span class="cons"><%=v.productComCount.slice(1,2) %></span>
              </div>
            </div>
          </a>
        </li>
        {{/each}}
    </script>

    <!-- 页数 -->
    <script type="text/html" id="tpl2">
      <div class="prev"><a href="">上一页</a></div>
      <select name="" id="">
       <% for(var i = 1;i<=allpage; i++) { %>
        <option value="">{{i}}/<%= allpage%></option>
        <% } %>
      </select>
      <div class="next"><a href="">下一页</a></div>
    </script>
    <script type="text/html" id="tpl2"></script>
    <script src="./lib/jquery.min.js"></script>
    <script src="./lib/art-template.js"></script>
    <script src="./lib/flexible.js"></script>
    <script src="js/common.js"></script>
    <script src="./js/moenyCtrl.js"></script>
  </body>
</html>
