<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>慢慢买</title>
    <link rel="stylesheet" href="./css/common.css" />
    <link rel="stylesheet" href="./css/productlist.css" />
  </head>
  <body>
    <div class="shop_container">
      <!-- 头部 -->
      <div class="shop_header">
        <div class="logo"></div>
        <div class="down"></div>
      </div>
      <!-- 搜索框 -->
      <div class="search">
        <input
          type="search"
          class="search_input"
          placeholder="请输入你要比价的商品"
        />
        <input type="button" value="搜索" class="search_btn" />
      </div>

      <!-- 面包屑导航 -->
      <div class="bar"></div>

      <!-- 商品区 -->
      <div class="product">
        <ul class="pro">
          <!-- 坑 -->
        </ul>
      </div>
      <!-- 翻页 -->
      <div class="page"></div>
      <!-- footer -->
      <div class="footer">
        <div class="f_href">
          <a href="#">登录</a> <a href="#">注册</a>
          <a href="#" class="gotop">返回顶部</a>
        </div>
        <div class="content">
          <p>
            <span class="red">手机APP下载</span> 慢慢买手机版 -- 掌上比价平台
          </p>
          <p>m.manmanbuy.com</p>
        </div>
      </div>
    </div>

    <!-- 面包屑区模板引擎 -->
    <script type="text/html" id="tpl1">
      {{each result v i}}
      <span>
          <a href="index.html">首页> </a>
          <a href="category.html">全部分类></a>
          <a href="#"> {{v.category}}></a>
           </span>
        <input type="button" value="筛选" />
        {{/each}}
    </script>

    <!-- pro内容渲染 -->
    <script type="text/html" id="tpl2">
      {{each result v i}}
      <li>
        <a href="bijia.html?productId={{v.productId}}&name={{v.productName}}" >
          <div class="pic"> <%== v.productImg%></div>
          <div class="desc">
            <h3>{{v.productName}}</h3>
            <p class="moeny">{{v.productPrice}}</p>
            <p><span >{{v.productQuote}}</span>
              <span>{{v.productCom}}</span>
          </div>
        </a>
        </li>
        {{/each}}
    </script>
    <!-- 页数 -->
    <script type="text/html" id="tpl3">
      <div class="prev"><a href="">上一页</a></div>
      <select name="" id="">
       <% for(var i = 1;i<=allpage; i++) { %>
        <option value="">{{i}}/<%= allpage%></option>
        <% } %>
      </select>
      <div class="next"><a href="">下一页</a></div>
    </script>
    <script src="./lib/jquery.min.js"></script>
    <script src="./lib/art-template.js"></script>
    <script src="./lib/flexible.js"></script>
    <script src="js/common.js"></script>
    <script src="./js/productlist1.js"></script>
  </body>
</html>
